nav {
    display: flex;
    justify-content: space-around;
    align-items: unset;
    font-family: Arial;
    height: 63px;
    background-image: linear-gradient(to right, rgba(46, 8, 41, 0.767), purple);
    background-image: linear-gradient(to bottom, #980021 130%);
}
/* 
.card { 
    width: auto;
    padding: -10px;
    height: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    text-shadow: #000 0.3;
}  */

.d-flex  {
    caret-color: gray;
}

.card-title {
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    text-shadow: #000 1.0;
    margin-bottom: 0px !important;
}

.card-text {
    font-family: Helvetica;
    font-size: small;
    
}

.row {
    margin-right: 0px !important;
}

