nav {
    display: flex;
    justify-content: space-around;
    align-items: unset;
    font-family: Arial;
    height: 63px;
    background-image: linear-gradient(to right, rgba(46, 8, 41, 0.767), purple);
    background-image: linear-gradient(to bottom, #980021 130%);
}

.table td, .table th {
    min-width: 100px;
}

